{# For more information on Django template inheritance, #}
{# see https://docs.djangoproject.com/en/1.6/topics/templates/#template-inheritance #}

{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Let's MeetUp{% endblock title %} | MeetUp</title>

    <link rel="icon" href="{% static "./meetup/img/title-bar-icon.ico" %}" type="image/icon">

    {# Import CSS files #}
    <link rel="stylesheet" href="{% static "meetup/css/bootstrap-theme.min.css" %}">
    <link rel="stylesheet" href="{% static "meetup/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "meetup/css/common.css" %}">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="{% static "./meetup/js/d3.min.js" %}"></script>
    <script src="{% static "./meetup/js/jquery.min.js" %}"></script>
    <script src="{% static "./meetup/js/bootstrap.min.js" %}"></script>
    {# Allow templates to add stuff to the head. #}
    {% block head %}{% endblock head%}
</head>

<body>
    <div id="nav">
        {% if user.is_authenticated %}
            <h2><a href="{% url 'meetup:user_dashboard' %}">Home</a></h2>
            <h2><a href="{% url 'meetup:user_logout' %}">Log out</a></h2>
        {% endif %}
        {# Allow templates to add stuff to the header. #}
        {% block nav %}{% endblock %}
    </div>
    <div id="left-sidebar">
    </div>
    <div id="right-sidebar">
    </div>
    <div id="content">
        <h3>{% block content_title %}{% endblock %}</h3>
        {# Allow templates to set contents. #}
        {% block content %}{% endblock %}
    </div>
    <div id="footer"></div>

    <script src="{% static "./meetup/js/d3.min.js" %}"></script>
    <script src="{% static "./meetup/js/jquery.min.js" %}"></script>
    <script src="{% static "./meetup/js/bootstrap.min.js" %}"></script>
</body>
</html>